<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--组件扫描器-->
    <context:component-scan base-package="com.xiaojie.hotel.service"/>
    <context:component-scan base-package=" com.xiaojie.hotel.Exception"/>

    <!--注解驱动-->
    <mvc:annotation-driven/>
    <!--引入属性配置文件-->
    <context:property-placeholder location="classpath:conf/jdbc.properties"/>
    <!--配置阿里的Druid数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--注册SqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:conf/mybatis.xml"/>
        <!-- 传入PageHelper的插件 -->
        <property name="plugins">
            <array>
                <!-- 传入插件的对象 -->
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <prop key="helperDialect">mysql</prop>
                            <prop key="reasonable">true</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    <!--使用spring的事务处理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--开启事务注解驱动-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--动态代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.xiaojie.hotel.dao"/>
    </bean>

    <bean id="userService" class="com.xiaojie.hotel.service.Impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="commentDao" ref="commentDao"></property>
    </bean>
    <bean id="managerService" class="com.xiaojie.hotel.service.Impl.ManagerServiceImpl">
        <property name="managerDao" ref="managerDao"/>
    </bean>
    <bean id="roomManagermentService" class="com.xiaojie.hotel.service.Impl.RoomManagermentServiceImpl">
        <property name="roomDao" ref="roomDao"/>
        <property name="floorDao" ref="floorDao"/>
        <property name="engageDao" ref="engageDao"/>
        <property name="moveRoomDao" ref="moveRoomDao"/>
        <property name="orderInformAtionDao" ref="orderInformAtionDao"/>
        <property name="customerDao" ref="customerDao"/>
        <property name="commentDao" ref="commentDao" />
    </bean>
    <bean id="putUpService" class="com.xiaojie.hotel.service.Impl.PutUpServiceImpl">
        <property name="engageDao" ref="engageDao"></property>
        <property name="roomDao" ref="roomDao"></property>
        <property name="moveRoomDao" ref="moveRoomDao"></property>
        <property name="orderInformAtionDao" ref="orderInformAtionDao"></property>
        <property name="customerDao" ref="customerDao"></property>
    </bean>
    <bean id="customerService" class="com.xiaojie.hotel.service.Impl.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao"></property>
    </bean>
    <bean id="countPriceService" class="com.xiaojie.hotel.service.Impl.CountPriceServiceImpl">
        <property name="orderInformAtionDao" ref="orderInformAtionDao"></property>
        <property name="roomDao" ref="roomDao"></property>
    </bean>
    <bean id="frontservice" class="com.xiaojie.hotel.service.Impl.FrontEndServiceImpl">
        <property name="roomDao" ref="roomDao"></property>
        <property name="commentDao" ref="commentDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="orderInformAtionDao" ref="orderInformAtionDao"></property>
    </bean>
    <!--邮件发送配置-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.qq.com"/>
        <property name="port" value="587"/>
        <property name="username" value="2292095461@qq.com"/>
        <property name="password" value="zbeswamtyaphdija"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.ssl.enable">20000</prop>
            </props>
        </property>
    </bean>
    <bean id="mailSenderSrvServices" class="com.xiaojie.hotel.service.Impl.MailSenderSrvServiceImpl"></bean>
</beans>